*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1200px;
    margin: 0px auto;
}
#logo{
    display: flex;
    justify-content: none;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px 30px;
    color: brown;

}
nav ul{
    display: flex;
   list-style-type: none;
   gap: 20px;
   color: brown;

}
li{
    text-decoration: none;
    color: brown;
}
@media screen and(min-width:0px)and(max-width:500px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: antiquewhite;
        padding: 10px 12px;
    
    }
    nav ul{
        display: flex;
        flex-direction: column;
       list-style-type: none;
       gap: 20px;
    
    }  
    
}