body{
    background-color: mediumpurple;
}
li{
    background-color: aquamarine;
}

.flex-container{
    height: 100vh;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
        align-items: center;
}
.card{
    height: 300px;
    width: 300px;
    background-color: gray;

}
@media screen and(min-width: 0px) and(max-width:500px){
    body{
        border: 10px solid green;
    }
    .flex-container{
        height: 100vh;
        border: 2px dashed black;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
}